[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.5"
# api star has a bug in 3.5.2, so we should use python version > 3.5.2, but we don't know how to set it in pipenv


[packages]

apistar = "==0.3.9"
addr-detector = "==0.2.0"
fasttextpy = {ref = "c5cb6b2d0e295e58cfa827e38d2e9b1e0cbe09e4", git = "http://github.com/facebookresearch/fastText", editable = true, subdirectory = "python"}


[dev-packages]

