[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_full_version = "3.5"


[packages]

apistar = "==0.3.9"
cython = "*"
numpy = "*"
scipy = "*"
addr-detector = "*"


[dev-packages]
